<!-- templates/delivery_success.html -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Каталог товаров</title>
</head>
<body>
<h1 align="center" style="color:#0039A6">Интернет-магазин PKLN</h1>
<hr>
<h2>Доставка скоро будет!</h2>
<p>Вам скоро позвонят для подтверждения заказа.</p>

<!-- Можно добавить кнопку вернуться в корзину или на главную -->
<h2>Ссылки</h2>
<p>
    <a href="http://127.0.0.1:8000/catalog">Вернуться в Каталог</a>|
    <a href="http://127.0.0.1:8000/">На главную страницу</a>
</p>
</body>
</html>