<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type"
        content="text/html; charset=UTF-8">
    <title>О магазине</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center" style="color:#0039A6">Интернет-магазин PKLN</h1>
    <HR>
    <h2>О магазине</h2>
    <p>
        Сайт сделан Пикулиным К. М. ИУ8-81<br>Это курсовая работа на 8й семестр.
        <br>Сайт сделан специально для компании PKLN - российского издателя комиксов и игр.
    </p>
    <h3>
        Контактные данные
    </h3>
    <p>
        Телефон: +79636113300
    <h2>Ссылки</h2>
    <p>
        <a href="http://127.0.0.1:8000/">На главную страницу</a>
    </p>

</body>
</html>